html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    height: 100%;
}

body {}

ol,
ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /*Firefox 1-3*/
    -webkit-box-sizing: border-box;
    /*Safari */
}

a,
a:visited,
a:hover,
a:focus, 
a:active
{
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}



/****************************FONTS****************************/
@font-face {
    font-family: 'GeometronProAngular1';
    src: url(fonts/GeometronProAngular1.otf);
}

@font-face {
    font-family: 'GeometronProAngular';
    src: url(fonts/GeometronProAngular3.otf);
}

@font-face {
    font-family: 'GeometronProAngular5';
    src: url(fonts/GeometronProAngular5.otf);
}

@font-face {
    font-family: 'GeometronProAngular7';
    src: url(fonts/GeometronProAngular7.otf);
}

@font-face {
    font-family: 'GeometronProAngular9';
    src: url(fonts/GeometronProAngular9.otf);
}

/******************************OTHER**********************/
/*
body::-webkit-scrollbar { width: 0; }

body { -ms-overflow-style: none; }

body { overflow: -moz-scrollbars-none; }
*/
