.none-margin-l {
    margin-left: 0;
}
body {
    font-family: 'Geometron Pro Angular', sans-serif;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.header {
    position: fixed;
/*    width: 100%;*/
    height: 80px;
    line-height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 100;
    transition: all 1s ease;
}
.banner-slogan{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}
.sticky{
    transition: all 1s ease;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 2px -2px #eeeeee;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.logo img {
    vertical-align: middle;
    max-height: 45px;
}
.menu li {
    margin-right: 35px;
    float: left;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    font-weight: bold;
    text-transform: uppercase;
    color: #303030;
}
.menu a:hover {
    color: #eab146;
    border-bottom: 2px solid #eab146;
}
#touch-menu {
    display: none;
    position: absolute;
    top: 45%;
    right: 30px;
    height: 100px;
}
.fluently {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#touch-menu img {
    vertical-align: middle;
    max-height: 45px;
}
.zoom:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.menu .show-popup {
    width: 120px;
    text-align: center;
    background-color: #eea924;
    border-radius: 5%;
}
.menu .show-popup:hover {
    color: #fff;
    background-color: #ffbb15;
}

/*******************FORM-POPUP****************/

.popup{
    line-height: none;
    display: none;
    background-color: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.form-reg h3 {
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #555555;
}
.form-reg p {
    line-height: 30px;
    margin: 5px 0;
    font-size: 14px;
    color: #707070;
}

.form-reg input[type="text"] {
    width: 362px;
    height: 37px;
}
.form-reg textarea {
    width: 362px;
}

.form-reg .form-button{
    margin-bottom: 30px;
}

.popup-form {
    display: none;
    line-height: 30px;
    z-index: 101;
    position: fixed;
    margin-left: 50%;
    top: 25px;
    text-align: center;
    padding: 5px;
    background-color: #ffffff;
}


.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 102;
}
/*******************PORTFOLIO-POPUP****************/

.modal-dialog{
    width: 90%;
    text-align: center;
}

.modal-content img{
    width: 100%;
}

.modal-body{
    padding: 0;
}


/***********************HOME*********************/

#home {
    color: #303030;
    height: 800px;
    padding-top: 300px;
    text-align: left;
    background: #f0f0f0 url(../img/banner.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home h1 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font: 30px/30px 'Times New Roman', sans-serif;
}
#home h2 {
    text-align: center;
    font: 22px/22px 'Times New Roman', sans-serif;
    margin-bottom: 15px;
}
#home p{
    font: 18px/18px 'Times New Roman', sans-serif;
}

/****************************ABOUT***************************/

.title {
    margin-top: 95px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.line {
    margin: 30px auto 65px;
    height: 2px;
    width: 110px;
    background-color: #eab146;
}
.descr {
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    color: #5a585b;
}
.about-img {
    padding-left: 0;
    height: 290px;
    overflow: hidden;
}

/****************SERVICES******************************/



#services .row {
    margin-bottom: 50px;
}
.servicses-item{
    height: 250px;
}

#services img {
    float: left;
}
#services h2 {
    margin: 3px 0 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: #555555;
}
#services p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

/*********************portfolio*******************/

#portfolio {
    background-color: #f9f9f9;
}

.portfolio-img img {
    width: 300px;
    height: 428px;
}
.portfolio-img {
    padding-right: 15px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#portfolio h5 {
    margin: 30px 0;
    color: #393939;
    font-size: 18px;
}
.porfolio-button {
    margin: 30px auto 80px;
    display: block;
    width: 106px;
}
.w-b-btn {
    display: block;
    text-decoration: none;
    height: 38px;
    border: 1px solid #555555;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
    border-radius: 5%;
    color: #555555;
}
.w-b-btn:hover {
    border: 1px solid #000;
    color: #000;
}

/*************************SHOWCASE*******************/

#showcase {
    padding-top: 10px;
    color: #333333;
    background-color: #eea924;
    font: 'Geometron Pro Angular 700', sans-serif;
}

#showcase h1 {
    font-size: 35px;
    margin-bottom: 70px;
}

#showcase h2, #showcase h3{
    font-weight: bold;
    text-transform: uppercase;
}
#showcase h2 {
    font-size: 22px;
}
#showcase h3 {
    margin: 20px 0 10px;
    font-size: 16px;
}
#showcase p {
    margin: 15px 0 10px;
    font-size: 14px;
}

#showcase .img-wrapper {
    width: 98%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
#showcase .img-wrapper img {
    width: 100%;
    height: 100%;
}
.technologies {
    text-decoration: none;
    font-size: 14px;
}
.showcase-button {
    margin-right: 20px;
    width: 127px;
}

/*************************Testimonials*******************/
#testimonials{
    padding-bottom: 100px;
}
.testimonials-item {
    font-size: 16px;
    text-align: center;
}
.avatar {
    margin: 40px auto 70px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    width: 75px;
    height: 75px;
}
#testimonials .description {
    height: 120px;
    margin-bottom: 30px;
    line-height: 25px;
}
#testimonials .name {
    text-transform: uppercase;
    margin-bottom: 15px;
}
#testim-buttons {
    margin: 50px 0 100px;
    text-align: center;
}
#testim-buttons .left-btn {
    margin-right: 12px;
}

/*************************philosofy*************************/

#philosofy {
    margin-bottom: -6px;
/*    height: 371px;*/
    background-color: #f9f9f9;
}
#philosofy img {
    width: 100%;
    height: 100%;
}
#philosofy .title {
    margin-top: 70px;
}
#philosofy ul {
    font-size: 14px;
    line-height: 24px;
    list-style-image: url('../img/ul-philosofy.png');
}
#philosofy li {
    margin-bottom: 10px;
}
#philosofy .info {
    padding-left: 60px;
    text-align: left;
}

/****************************clients*************************/

#clients .title {
    margin-bottom: 65px;
}

#clients .img-wrapper {
    height: 100px;
    line-height: 120px;
}

/*****************************TEAM**********************/

#team {
    margin-top: 100px;
    text-align: center;
    height: 427px;
    color: #fefefe;
    background: #f0f0f0 url(../img/team-overlay.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#team .title {
    margin: 140px 0 40px;
}
#team h3 {
    font-size: 16px;
    line-height: 27px;
}
.team-btn {
    margin-top: 45px;
    margin-bottom: 90px;
    color: #fefefe;
    border: 1px solid #fefefe;
}

/*******************************FORM*********************/

.form form .title {
    color: #eea924;
}
.form h3 {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #555555;
}
.form p {
    margin: 25px 0 5px;
    font-size: 14px;
    color: #707070;
}
/*
.form form {
    margin-right: 40px;
}
*/
.form input[type="text"] {
    padding: 5px;
    width: 362px;
    height: 47px;
    
}
.form textarea {
    width: 362px;
}
.form input:focus, .form textarea:focus{
    border: 1px solid #000;
}

.form-button {
    margin: 20px 0 100px;
    width: 362px;
    height: 38px;
    background-color: #eea924;
    color: #ffffff;
    border: 1px solid #eea924;
    border-radius: 3px;
}
.form-button:hover {
    background-color: #fcba39;
}

/************************FOOTER**************************/

#footer {
    padding-top: 50px;
    padding-bottom: 38px;
    background-color: #303030;
    color: #ffffff;
}
#footer .contact-us {
    font-size: 16px;
}

.contact-us h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.social-item {
    position: relative;
    margin-right: 14px;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 5px;
}
.social-item:hover {
    background-color: #eea924;
}
.social-item img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
}
footer {
    padding: 10px 5px 10px 0;
    text-align: center;
    background-color: #131313;
    font-size: 10px;
    color: #ffffff;
}

/********************MEDIA*****************************/
@media (min-width: 1390px) {
    .form form{
        margin-left: 50px;
    }
}

@media (min-width: 1600px) {
    .form form{
        margin-left: 100px;
    }
}

@media (max-width: 1170px) {
    #testimonials .description {
        height: 200px;
    }
}


@media (max-width: 768px) {
    .header {
        background-color: rgba(255, 255, 255, 1);
    }
    .menu {
        display: none;
        width: 100%;
        background-color: #e0e0e0;
        text-align: center;
    }
    .menu li {
        float: none;
        margin-right: 0;
        height: 45px;
    }
    .menu li a {
        height: 45px;
    }
    #touch-menu {
        display: block;
        text-align: right;
    }
    .menu .show-popup {
        width: 100%;
        border-radius: 0;
    }
    
    .title {
        margin-top: 60px;
    }
    
    
    #testimonials .description {
        height: 100px;
    }
}

@media (max-width: 350px) {
    #testimonials .description {
        height: 150px;
        margin-bottom: 10;
    }
}


