.row{
    margin-left: 0;
    margin-right: 0;
}
.none-margin-l {
    margin-left: 0;
}
.none-padding-r-l {
    padding-left: 0;
    padding-right: 0;
}

body {
    font-family: 'Geometron Pro Angular', sans-serif;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.header {
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 100;
    transition: all 1s ease;
}

.sticky{
    transition: all 1s ease;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 6px 2px -2px #eeeeee;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.logo img {
    vertical-align: middle;
    max-height: 45px;
}
.menu li {
    margin-right: 35px;
    float: left;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
}
.menu .active{
    color: #eab146;
    border-bottom: 2px solid #eab146;
}
.menu a:hover {
    color: #eab146;
    border-bottom: 2px solid #eab146;
}
#touch-menu {
    display: none;
    position: absolute;
    top: 45%;
    right: 30px;
    height: 100px;
}
.fluently {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#touch-menu img {
    vertical-align: middle;
    max-height: 45px;
}
.zoom:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.menu .button-hire {
    width: 120px;
    text-align: center;
    background-color: #eea924;
    border-radius: 5%;
}
.menu .button-hire:hover {
    color: #fff;
    background-color: #ffbb15;
}
.menu .button-hire:focus {
    outline: none;
}

/*******************PORTFOLIO-POPUP****************/

.modal-dialog{
    width: 90%;
    text-align: center;
}

.modal-content img{
    width: 100%;
}

.modal-body{
    padding: 0;
}
/**********************FORM-POPUP***************/

#myModal-form .modal-dialog{
    width: 450px;
    margin: 0 auto;
    text-align: left;
}

#myModal-form h3{
    margin-top: 15px;
}
.modal-header{
    border-bottom: none;
}
.close{
  outline:none;
}

/***********************HOME*********************/

#home {
    position: relative;
    width: 100%;
    color: #444444;
    height: 800px;
    padding-top: 300px;
    text-align: left;
    background: #f0f0f0 url(../img/banner.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home h1 {
    margin-bottom: 45px;
    text-align: left;
    text-transform: uppercase;
    color: #303030;
    font-size: 30px;
}
#home h2 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}
#home ul {
    padding-left: 15px;
    list-style-image: url('../img/ul-philosofy.png');
}
#home li{
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 14px;
}
#home img{
    position: absolute;
    left: 50%;
    bottom: 15px;
}

/**************************ABOUT*********************/

.title {
    margin-top: 95px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
.line {
    margin: 30px auto 65px;
    height: 2px;
    width: 110px;
    background-color: #eab146;
}
.descr {
    margin-bottom: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: #5a585b;
}
.about-img {
    padding-left: 0;
    padding-right: 0;
/*    height: 290px;*/
    overflow: hidden;
}
.background{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
.about-img-1{
    height: 290px;
    background: url(../img/about1.png) center no-repeat;
}

.about-img-2{
    height: 290px;
    background: url(../img/about2.png) top center no-repeat;
}

.about-img-3{
    height: 290px;
    background: url(../img/about3.png) top center no-repeat;
}

.about-img-4{
    height: 290px;
    background: url(../img/about4.png) bottom center no-repeat;
}

.about-img img{
    height: 290px;
}

/****************SERVICES******************************/

.servicses-item{
    height: 325px;

}

#services img {
    float: left;
}
#services h2 {
    margin: 3px 0 20px;
    text-transform: uppercase;
    font-size: 18px;
    color: #555555;
}
#services p {
    font-size: 16px;
    line-height: 24px;
    color: #707070;
}

/*********************portfolio*******************/
.portfolio-img img {
    width: 300px;
    height: 300px;
}
.portfolio-img {
    padding-right: 15px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#portfolio h5 {
    margin: 30px 0;
    color: #393939;
    font-size: 18px;
}
/*
.porfolio-button {
    margin: 30px auto 80px;
    display: block;
    width: 106px;
}
*/


/*************************SHOWCASE*******************/

#showcase {
    padding-top: 10px;
    color: #333333;
    background-color: #eea924;
    font: 'Geometron Pro Angular 700', sans-serif;
}
#showcase .title{
    margin-top: 70px;
}

#showcase h1 {
    font-size: 35px;
    margin-bottom: 70px;
}

#showcase h2, #showcase h3{
    font-weight: bold;
    text-transform: uppercase;
}
#showcase h2 {
    font-size: 22px;
}
#showcase h3 {
    margin: 20px 0 10px;
    font-size: 16px;
}
#showcase p {
    margin: 15px 0 10px;
    font-size: 14px;
}

#showcase .img-wrapper {
    width: 98%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
#showcase .img-wrapper img {
    width: 100%;
    height: 100%;
}
.technologies {
    text-decoration: none;
    font-size: 14px;
}
.showcase-button {
    text-decoration: none;
    margin: 30px auto 80px;
    display: block;
    width: 106px;
    height: 38px;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
    border-radius: 5%;
    color: #303030;
    border: 1px solid #303030;
    margin-right: 20px;
    width: 127px;
    background-color: #eea924;
}

.showcase-button:hover {
    color: #fff;
    background-color: #ffbb15;
}

/*************************Testimonials*******************/
#testimonials{
    padding-bottom: 100px;
}
.testimonials-item {
    font-size: 16px;
    text-align: center;
}
.avatar {
    margin: 40px auto 70px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    width: 75px;
    height: 75px;
}
#testimonials .description {
    height: 120px;
    margin-bottom: 30px;
    line-height: 25px;
}
#testimonials .name {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
}
#testimonials h3{
    font-size: 12px;
    line-height: 19px;
    opacity: 0.8;
}

#testim-buttons {
    margin: 50px 0 100px;
    text-align: center;
}
#testim-buttons .left-btn {
    margin-right: 12px;
}

/*************************philosofy*************************/

#philosofy {
    margin-bottom: -6px;
/*    height: 371px;*/
    background-color: #ededed;
}
#philosofy img {
    width: 100%;
    height: 100%;
}

#philosofy .line{
    margin-bottom: 50px;
}
#philosofy ul {
    font-size: 14px;
    line-height: 24px;
    list-style-image: url('../img/ul-philosofy.png');
}
#philosofy li {
    margin-bottom: 10px;
}
#philosofy .info {
    padding-left: 60px;
    text-align: left;
}

/****************************clients*************************/
#clients{
    background-color: #fff;
}
#clients .title {
    margin-bottom: 65px;
}

#clients .img-wrapper {
    height: 100px;
    line-height: 120px;
    text-align: center;
}

/*****************************TEAM**********************/

#team {
    margin-top: 100px;
    text-align: center;
    height: 427px;
    color: #fefefe;
    background: #f0f0f0 url(../img/team-overlay.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#team .title {
    margin: 140px 0 40px;
}
#team h3 {
    font-size: 16px;
    line-height: 27px;
}
.team-btn, .team-btn:visited {
    text-decoration: none;
    margin: 30px auto 80px;
    display: block;
    width: 106px;
    height: 38px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    font-size: 12px;
    line-height: 38px;
    border-radius: 5%;
}

.team-btn:hover,
.team-btn:focus,
.team-btn:active{
    color: #303030;
    border: 1px solid #303030;
    background-color: rgb(255, 187, 21, 0.7);
}


/************************FOOTER**************************/

#footer {
    padding-top: 50px;
    padding-bottom: 38px;
    background-color: #303030;
    color: #ffffff;
}
#footer .contact-us {
    font-size: 16px;
}

.contact-us h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.social-item {
    position: relative;
    margin-right: 3%;
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 5px;
}
.social-item:hover {
    background-color: #eea924;
}
.social-item img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35px;
    height: 35px;
}

footer {
    padding: 10px 5px 10px 0;
    text-align: center;
    background-color: #131313;
    font-size: 10px;
    color: #ffffff;
}

/****************************FORM**************************/
.bootstrap-form{
    width: 362px;
    margin: 0 auto;
}
.bootstrap-form .title {
    color: #eea924;
}
.bootstrap-form h3 {
    font-size: 16px;
    line-height: 22px;
/*    text-align: left;*/
    color: #555555;
}
.bootstrap-form input[type="text"], .bootstrap-form input[type="email"] {
    padding: 5px;
    width: 362px;
    height: 47px;
    border-radius: 0;

}
.bootstrap-form textarea {
    width: 362px;
    resize: none;
}

.bootstrap-form label {
    margin: 10px 0 5px;
    font-size: 14px;
    color: #707070;
}
.form-button {
    margin: 20px 0 100px;
    width: 362px;
    height: 38px;
    background-color: #eea924;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    border: 1px solid #eea924;
    border-radius: 3px;
}
.form-button:hover {
    background-color: #fcba39;
    border: 1px solid #fcba39;
}


/*****************************UP**************************/
#scrollup{
position: fixed;
right: 15px;
bottom: 15px;
display: none;
cursor: pointer;
}


/********************MEDIA*****************************/
@media (min-width: 1390px) {
}

@media (min-width: 1600px) {

}

@media (max-width: 1170px) {
    #testimonials .description {
        height: 200px;
    }
}

@media (max-width: 800px){
    .header {
        background-color: rgba(255, 255, 255, 1);
    }
    .menu {
        display: none;
        width: 100%;
        background-color: #e0e0e0;
        text-align: center;
    }
    .menu li {
        float: none;
        margin-right: 0;
        height: 45px;
    }
    .menu li a {
        height: 45px;
    }
    #touch-menu {
        display: block;
        text-align: right;
    }
    .menu .button-hire {
        width: 100%;
        border-radius: 0;
    }

}


@media (max-width: 768px) {
    .title {
        margin-top: 100px;
    }

    .about-img{
        text-align: center;
    }
    #about .about-img img{
        width: 450px;
    }

    #testimonials .description {
        height: 200px;
    }

    #showcase .showcase-text{
        margin-top: 50px;
    }

    .footer-item{
        margin-bottom: 25px;
    }


    

}

@media (max-width: 575px) {
    #home {
        height: 500px;
        padding-top: 200px;
    }
    #home h1 {
        margin-bottom: 25px;
    }
    #home h2 {
        margin-bottom: 10px;
    }
    #home li{
        margin-bottom: 10px;
    }


    #about .about-img img{
        width: 400px;
    }

    #clients .clients-mature img{
        width: 260px;
    }

    .bootstrap-form{
        width: 300px;
        margin: 0 auto;
    }
    .bootstrap-form input[type="text"],
    .bootstrap-form input[type="email"],
    .bootstrap-form textarea,
    .form-button {
        width: 300px;
        height: 35px;
    }
    .form-button {
        letter-spacing: 0.25em;
    }
}

@media (max-width: 480px) {
    #about .about-img img{
        width: 350px;
    }
    .servicses-item{
        height: 330px;
        margin-bottom: 10px;
    }
}

@media (max-width: 390px) {
  #home {
      height: 400px;
      padding-top: 170px;
  }
  #home h1 {
      margin-bottom: 17px;
      font-size: 22px;
  }
  /*#home h2, #home li{
    font-size: 12px;
  }*/

    #about .about-img img{
        width: 320px;
    }
    .servicses-item{
        height: 350px;
        margin-bottom: 10px;
    }

    #team{
        height: 530px;
    }

    .bootstrap-form{
        width: 270px;
        margin: 0 auto;
    }
    .bootstrap-form input[type="text"],
    .bootstrap-form input[type="email"],
    .bootstrap-form textarea,
    .form-button {
        width: 270px;
        height: 35px;
    }
    .form-button {
        letter-spacing: 0.25em;
    }
}




@media (max-width: 360px) {
    #wrapper .row{
    padding-left: 0;
    padding-right: 0;
}
    #about .about-img img {
    width: 280px;
    }
    .about-img img {
        height: 260px;
    }

    .servicses-item{
        height: 450px;
        margin-bottom: 10px;
    }

    #clients .clients-mature img {
        width: 210px;
    }

}


@media (max-width: 350px) {
    #testimonials .description {
        height: 150px;
        margin-bottom: 10;
    }
}
